@model IEnumerable<Biblioteca.Models.Editorial>

@{
    ViewData["Title"] = "Indice de Editoriales";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create">Ingresar Nuevo</a>
</p>
<table class="table" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a class="btn btn-info"  asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
